<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notifilter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>")>
  </head>
  <body>
      <header id="navigation">
          <div id="navigation-content">
              <h1 class="navbar-brand">
                  <%= link "Notifilter", to: notifier_path(@conn, :index), id: "logo" %>
              </h1>

              <ul class="navbar">
                  <li><%= link "New notification", to: notifier_path(@conn, :new) %></li>
                  <li><%= link "Latest events", to: "#" %></li>
                  <li><%= link "Statistics", to: "#" %></li>
              </ul>

              <ul class="navbar pull-right">
              </ul>
          </div>
      </header>

      <div id="main-content">
          <%= @inner %>
      </div>

      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900,300italic,400italic,600italic,700italic,800italic,900italic&subset=latin">
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
