#rules
  @include outer-container

  .rule
    @include span-columns(8)

    select
      float: left
      margin-top: 10px
      margin-right: 20px

    button.removeRule
      float: left
      margin-right: 20px

    input
      float: left
      width: 20%

.submit
  clear: both
