<script>
    window.options = {
        applications: <%= raw @applications %>,
        eventNames: <%= raw @event_names %>,
        keys: <%= raw @event_keys %>,
    };

    window.notifier = <%= raw @notifier_as_json %>;
</script>

<div id="rules">
    <div id="content"></div>
</div>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
